PyYAML==6.0.3
black==26.1.0
flake8-annotations-complexity==0.1.0
flake8-annotations-coverage==0.0.6
flake8-annotations==3.2.0
flake8-assertive==2.2.0
flake8-broken-line==1.0.0
flake8-bugbear==25.11.29
flake8-class-attributes-order==0.3.0
flake8-comprehensions==3.17.0
flake8-docstrings==1.7.0
flake8-expression-complexity==0.0.11
flake8-import-order==0.19.2
flake8-pytest-style==2.2.0
flake8-return==1.2.0
flake8-simplify==0.30.0
flake8==7.3.0
magic-wormhole==0.22.0
mypy==1.19.1
pep8-naming==0.15.1
pylint==4.0.5
# pkg_resources is removed from setuptools 82 which is required by vim-vint
# pin setuptools to 81 for now
# https://github.com/Vimjas/vint/issues/394
setuptools==81.0.0
vim-vint==0.3.21
yapf==0.43.0
